.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formAuth{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.legendAuth{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin-left: 2.5rem;
    margin-bottom: 2.375rem;
}

.emailAuth {
    width: 21.8125rem;
    height: 3.125rem;
    border: 1px solid #0956C2;
    border-radius: 32px;

    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    
    padding-left: 1.75rem;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonAuth{
    width: 21.8125rem;
    height: 3.1875rem;
    background-color: #0956C2;
    border-radius: 32px;
    cursor: pointer;
    
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;

    transition: background-color 0.3s, transform 0.2s;

}

.registerText{
    padding-top: 1.0625rem;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 44px;
}

.registerLink{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 15px;
    color: #0956C2;
}


.buttonAuth:hover {
    background-color: #106ced;
    transform: translateY(-2px);
}

.buttonAuth:active {
    transform: translateY(1px);
}