:root{
    --font-family-Inter: "Inter", sans-serif;
    --font-family-Montserrat: "Montserrat", sans-serif;
    --secondary-color: #0956C2;
}


.container{
    display: flex;
    gap: 3rem;
    justify-content: center;
}

h1{
    font-family: var(--font-family-Inter);
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 2rem;
}

.welcomeSection{
    width: 75.9375rem;

    display: flex;
    justify-content: space-between;
    margin: 3.0625rem 0rem 3.0625rem 6.375rem;
}

.welcomeSection > div > p{
    font-family: var(--font-family-Montserrat);
    color: #00000080;
    font-weight: 500;
    font-family: Montserrat;
    line-height: 100%;
    font-size: 1.125rem;
    padding-top: 1rem;
}


.buttonCreateCourse button{
    color: white;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 0.875rem;


    width: 9.5625rem;
    height: 3.0625rem;
    background-color: var(--secondary-color);
    border-radius: 100px;
}

.buttonCreateCourse > button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}