.header {
    display: flex;
    align-items: center;
    height: 88px;
    box-shadow: 0px 1px 10px 0px #00000040;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: center;
    flex: 1;
}

.navList {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    margin: 0;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
}

.navLink.active {
  font-weight: 800;
}

.headerLogo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 37px;
}

.authSection {
    display: flex;
    justify-content: flex-end;
    min-width: 113px;
    margin-right: 23px;
}

.loginButton {
    width: 90px;
    height: 43px;

    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 32px;
    background: #0956C2;
}

.profileSection {
    display: flex;
    align-items: center;
    gap: 15px;
}